
<div class="col-md-3">
    <div class="card mb-4">
        {% if property.picture %}
            <img src="{{ vich_uploader_asset(property.picture, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
            {% else %}
            <img src="{{'/images/default-property.jpg' | imagine_filter('thumb')}}" alt="card-img-top" style="width: 100%; height:auto;">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{path('property.show', {id: property.id, slug: property.slug})}}">{{ property.title }}</a> 
            </h5>
            <p class="card-text">
                {{property.city}} ({{property.postalCode}})
            </p>
            <p> {{property.surface}} m²</p>
            <h4 class="text-info font-weight-bold">{{property.formatedPrice}} €</h4>
            <p> {{ property.description | nl2br }} </p>
        </div>
    </div>
</div>