<div class="card border-primary mb-3" style="max-width: 30rem; display:block; margin:0 auto;">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                  {{profile.genderType}} {{profile.firstName}} {{profile.lastName|upper }} &nbsp; <span class="text-info"><a href="{{ path('owner.contact.edit', {id: profile.id}) }}" title="Modifier le contact ..."><i class="fas fa-edit text-info h5"></i></a></span>
            </div>
        </div>
    </div>
    
    <div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <div style="display: block; margin: 0 auto;">
               
                {% if profile.imageName %}
                <img alt="photo de USERNAME" class="avatar" src=" {{  vich_uploader_asset(profile, 'imageFile') | imagine_filter('avatar') }}">
                {% else %}
                    {% if profile.gender == 0 %}
                        <img alt="photo de FUULNAME " class="avatar" src=" {{  '/images/male-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="FullName">
                    {% else %}
                        <img alt="photo de FULLNAME" class="avatar" src=" {{  '/images/woman-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="FullName">
                    {% endif %}
                {% endif %}
               
            </div>
            
        </div>
        <div class="col-md-8">
            {# <p class="card-title"><i class="fas fa-envelope text-info"></i>&nbsp;&nbsp; <a href="mailto:{{user.email}} " title="E-mail: {{user.email}}"> Ecrire à {{user.firstName}}</a></p> #}
            <p class="card-title"><i class="fas fa-phone text-info"></i>&nbsp;&nbsp;{% if profile.telephoneM != "" %}  {{profile.telephoneM}} {% elseif profile.telephoneO != "" %} {{profile.telephoneO}} {% elseif profile.telephoneH != "" %} {{profile.telephoneH}} {% else %} <span class="text-warning">A compléter</span> {% endif %}</p>
            {# <p class="card-title"><i class="fas fa-home text-info"></i>&nbsp;&nbsp;{% if profile.city is defined %}  {{profile.city}}{% else %} <span class="text-warning">A compléter</span> {% endif %}</p> #}
            
            {% if profile.description %}
                <p class="text-left text-info"><i class="fas fa-user text-info pr-2"></i>&nbsp;&nbsp;{{profile.description|nl2br }}</p> 
            {% else %}
                <p class="text-info"><i class="fas fa-user text-info pr-2"></i><span class="text-warning">&nbsp;&nbsp;A compléter</span></p>
            {% endif %}

        </div>
    </div>
        {% if profile.companyRelated == true %}
            <div class="row">
                <div class="col-md-12 company">
                        <div class="row m-2 ">
                            <a href="{{ path('company.owner.index') }}" class="btn btn-secondary btn-center all-fit">{{profile.company.name|upper}}</a>
                        </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>