 {{ form_start(form) }}
    <div class="row align-items-end">
        <div class="col-md-12">
            {{ form_row(form.name) }}
        </div>
    </div>
   
    {{ form_widget(form) }}
    <button class="btn btn-success btn-center"> {{ button|default('Enregistrer') }} </button>
    {{ form_end(form) }}