{{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <div class="alert alert-light">
                        <div class="row align-items-center">
                            <div class="col-md-2">{{ form_row(form.gender) }}</div>
                            <div class="col-md-5">{{ form_row(form.firstName) }}</div>
                            <div class="col-md-5">{{ form_row(form.lastName) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.roles, {'attr': {'class': 'selectpicker'}}) }}
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                {{form_row(form.companyRelated)}}
                            </div>
                        
                            <div class="col-md-8" id='societe' {% if user is defined %} style="display: {% if user.companyRelated == false %}none{% else %}block{% endif %};" {% else %} style="display: none;" {% endif %} >
                                {{ form_row(form.company, {'attr': {'class': 'selectpicker show-tick', 'data-live-search':'true'}}) }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.address) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.postalCode) }}</div>
                            <div class="col-md-6">{{ form_row(form.city) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"> {{ form_row(form.telephone, {"id": "telephone"}) }}</div>
                            <div class="col-md-6">Type téléphone</div>
                        </div>
                        <hr>
                        
                        <button type="submit" class="btn btn-success btn-center"> <i class="fas fa-check"></i> {{ button|default('Enregistrer') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{{ form_end(form) }}