<div class="card border-primary mb-3" style="max-width: 30rem; display:block; margin:0 auto;">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                  {{user.genderType}} {{user.firstName}} {{user.lastName|upper}} &nbsp; <span class="text-info"><a href="{{ path('owner.user.edit', {id: user.id}) }}" title="Modifier le contact ..."><i class="fas fa-edit text-info h5"></i></a></span>
            </div>
            <div class="col-md-2">
                {% if user.isActive %}<i class="fas fa-toggle-on text-success" title="Compte Actif"></i>{% else %}<i class="fas fa-toggle-off text-danger" title="Compte Inactif"></i>{% endif %}
            </div>    
        </div>
    </div>
    
    <div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <div style="display: block; margin: 0 auto;">
                {% if user.profile %}
                    {% if user.profile.imageName %}
                    <img alt="photo de {{ user.username }}" class="avatar" src=" {{  vich_uploader_asset(user.profile, 'imageFile') | imagine_filter('avatar') }}">
                    {% else %}
                        {% if user.gender == 0 %}
                            <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/male-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                        {% else %}
                            <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/woman-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                        {% endif %}
                    {% endif %}
                {% else %}
                {% if user.gender == 0 %}
                    <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/male-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                    {% else %}
                        <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/woman-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                    {% endif %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_PROPERTYSUPPLIER' %}
                            <div class="badge badge-warning">Fournisseurs</div>
                        {% elseif role == 'ROLE_PROPERTYOTHERS' %}
                            <div class="badge badge-secondary">Tiers</div>
                        {% elseif role == 'ROLE_PROPERTYOWNER' %}
                            <div class="badge badge-info">Propriétaire</div>
                        {% elseif role == 'ROLE_PROPERTYTENANT' %}
                            <div class="badge badge-primary">Locataire</div>
                        {% endif %}  
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="card-title"><i class="fas fa-envelope text-info"></i>&nbsp;&nbsp; <a href="mailto:{{user.email}} " title="E-mail: {{user.email}}"> Ecrire à {{user.firstName}}</a></p>
            <p class="card-title"><i class="fas fa-phone text-info"></i>&nbsp;&nbsp;{% if user.telephone %}  {{user.telephone}} {% else %} <span class="text-warning">A compléter</span> {% endif %}</p>
            <p class="card-title"><i class="fas fa-home text-info"></i>&nbsp;&nbsp;{% if user.city %}  {{user.city}}{% else %} <span class="text-warning">A compléter</span> {% endif %}</p>
            
        </div>
    </div>
        {% if user.company %}
            <div class="row">
                <div class="col-md-12 company">
                        <div class="row m-2 ">
                            <a href="{{ path('company.owner.index') }}" class="btn btn-secondary btn-center all-fit">{{user.company.name|upper}}</a>
                        </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>