{% extends 'base.html.twig' %}

{% block title %}- Détail de mon bien n° ...{% endblock %}

{% block body %}

<div class="container">

    <div class="row mt-4">
        <div class="col-md-4">
            <div data-slider class="property-show">
                {% if property.picture %}
                    {% for picture in property.pictures %}
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                    {% endfor %}
                {% else %}
                    <img src="{{ '/images/default-property.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                {% endif %}
            </div>
            <div>
                <div class="row mt-3">
                    <div class="col-md-10"><h3>Derniers documents</h3></div>
                    <hr>
                    <div class="col-md-2 text-right">
                        <a href=" {{ path('property.manager.edit', {id: property.id}) }}#property_documents" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>
                    </div>
                </div>
                {% for document in property.documents %}
                    <div class="row current-doc m-2">
                        <a class="text-{% if document.kind is same as("1") %}primary{% elseif document.kind is same as("2") %}warning{% else %}secondary{% endif %}" href="{{asset (vich_uploader_asset (document, 'documentFile'))}}" target="_blank" title="voir le document : {{document.fileName}}">
                        {# <img class="doc" src="{{  '/images/pdf.png' }}" alt=""> #}
                        <i class="far fa-file-pdf h3 text-{% if document.kind is same as("1") %}primary{% elseif document.kind is same as("2") %}warning{% else %}secondary{% endif %}"></i>&nbsp;{% if document.name is same as ('document') %}{{document.fileName}}{% else %}{{document.name}}{% endif %}
                        
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8"><h2> {{ property.title }} - {{ property.surface | number_format(2,',', ' ') }} m²</h2></div>
                <div class="col-md-4 text-right">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <a href=" {{ path('admin.property.manager.edit', {id: property.id}) }} " class="btn btn-info"><i class="fas fa-pencil-alt"></i>&nbsp; Editer le bien</a>
                    {% elseif app.user and app.user == property.manager %}
                        <a href=" {{ path('property.manager.edit', {id: property.id}) }} " class="btn btn-info"><i class="fas fa-pencil-alt"></i>&nbsp; Editer le bien</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left"><i class="fas fa-expand h3"></i></div>
                <div class="col-10 text-left"> <h4>{{ property.surface | number_format(2,',', ' ') }} m²</h4></div>
            </div>
            <div class="row">
                <div class="col-2 text-left"><i class="fas fa-door-open h3"></i></div>
                <div class="col-10 text-left"> <h4>{% if property.rooms == 1 %}Studio{% else %}{{ property.rooms }} pièces{% endif %}</h4></div>
            </div>
            {% if property.bedrooms > 0 %}
                <div class="row">
                    <div class="col-2 text-left"><i class="fas fa-bed h3"></i></i></div>
                    <div class="col-10 text-left"> <h4>{{ property.bedrooms }} chambre{% if property.bedrooms > 1 %}s{% endif %}</h4></div>
                </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-8"><h3>Bail</h3></div>
                <div class="col-md-4 text-right">
                    <a href="{{ path('lease.manager.new')}}" class="btn btn-info btn-right mb-2"><i class="fas fa-plus"></i>&nbsp;Ajouter un bail</a>
                </div>
            </div>
            
            {% for lease in property.leases %}
                <div class="col-md-4 current-doc" id="currentDoc">
                    <p>Loyer : {{ lease.rent | number_format(2,',', ' ') }} €</p>
                    <p>Charges : {{ lease.charges | number_format(2,',', ' ') }} €</p>
                </div>
            {% endfor %}
            

            <hr>

            <div class="row">
                
            </div>
           
            

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
                <a href=" {{ path('myproperty.manager.index') }} " class="btn btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;Retour au portefeuille</a>
        </div>
    </div>
   
</div>
        


 






{% endblock %}